<div class="header <%= 'header--signed-in' if user_signed_in? %>">
  <a class="header__logo-container" href="<%= root_path %>">
    <%= image_tag "alt-logo.svg", class: 'header__logo-image' %>
  </a>
  <% if user_signed_in? %>
    <% if campaign %>
      <div class="header__campaign-container">
        <p class="header__campaign-name">
          <%= campaign.name %>
        </p>
        <%= image_tag(campaign.logo, class: 'header__campaign-logo') if campaign.logo.attached? %>
      </div>
    <% end %>
    <div class="header__menu-section">
      <p class="header__company-name">
        <% if current_user&.company.logo.attached? %>
          <%= image_tag(current_user&.company.logo, class: 'header__company-logo') %>
        <% else %>
          <%= current_user&.company.name %>
        <% end %>
      </p>
      <div class="header__logout-container">
        <%= link_to destroy_user_session_path, class: 'header__logout', title: t('messages.header.logout'), method: :delete do %>
          <%= image_tag 'logout.svg', class: 'header__logout-icon' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
