<div class="header <%= 'header--signed-in' if user_signed_in? %>">
  <a class="header__logo-container" href="<%= root_path %>">
    <%= image_tag "alt-logo.svg", class: 'header__logo-image' %>
    <%= image_tag "logo.svg", class: 'header__logo-image header__logo-image--small' %>
  </a>
  <% if user_signed_in? %>
    <% if campaign %>
      <div class="header__campaign-container">
        <p class="header__campaign-name">
          <%= campaign.name %>
        </p>
        <%= image_tag(campaign.logo, class: 'header__campaign-logo') if campaign.logo.attached? %>
      </div>
    <% end %>
    <div class="header__menu-section">
        <% if current_user&.company.logo.attached? %>
          <div>
            <div class="header__company-logo-container">
              <%= image_tag(current_user&.company.logo, class: 'header__company-logo') %>
            </div>
          </div>
        <% else %>
          <p class="header__company-name">
            <%= current_user&.company.name %>
          </p>
        <% end %>
      <div class="header__logout-container">
        <%= link_to destroy_user_session_path, class: 'header__logout', title: t('messages.header.logout'), method: :delete do %>
          <%= image_tag 'logout.svg', class: 'header__logout-icon' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
