<a href="<%= campaign_path(campaign) %>" class="campaign-option" >
  <h2 class="campaign-option__title">
    <%= campaign.name %>
    <%= image_tag(campaign.logo, class: 'campaign-option__logo') if campaign.logo.attached? %>
  </h2>
  <h5 class="campaign-option__date-range">
    <%= campaign_date_range(campaign) %>
  </h5>
  <div class="campaign-option__stats-container">
    <% summary_stats_elements(stats).each do |element| %>
      <div class="campaign-option__stat">
        <%= image_tag element[:icon], class: 'campaign-stat__icon' %>
        <div class="campaign-stat__content">
          <span class="campaign-stat__value"><%= element[:value] %></span>
          <span class="campaign-stat__label"><%= t("messages.campaigns.#{element[:translation]}") %></span>
        </div>
      </div>
    <% end %>
  </div>
</a>
