<div id="app" class="app">
  <%= render 'shared/header' %>
  <div class="campaign-details app__container">
    <h2 class="campaign-details__title"><%= t('messages.campaign_dashboard.details_title') %></h2>
    <%= render 'details_summary_stats' %>
    <div class="summary-graph campaign-details__graph">
      <div class="summary-graph__selector">
        <group-date-selector initial-group="<%= @date_group_by.to_s %>"></group-date-selector>
      </div>
      <div class="summary-graph__graph">
        <line-chart :data="<%= campaign_graph_data(@graphs_data).to_json %>" :legend="false" :colors="['#11B0FC', '#00D976']" :library="{ chart: { zoomType: 'x' } }"></line-chart>
      </div>
    </div>
  </div>
</div>
