<div id="app" class="app">
  <%= render 'shared/header' %>
  <div class="campaign-details app__container">
    <filters-container class="campaign-details__filters-container"
                       :locations="<%= @locations.to_json %>"
                       :brands="<%= @brands.to_json %>"
                       :channels="<%= @channels.to_json %>"
                       :communes="<%= @communes.to_json %>"
                       :regions="<%= @regions.to_json %>"
                       :genders="<%= gender_types_json %>">
    </filters-container>
    <div class="campaign-details__main">
      <h3 class="campaign-details__title"><%= t('messages.campaign_dashboard.details_title') %></h3>
      <%= render 'details_summary_stats' %>
      <div class="summary-graph campaign-details__graph">
        <div class="summary-graph__selector">
          <group-date-selector initial-group="<%= date_group_by.to_s %>"></group-date-selector>
        </div>
        <div class="summary-graph__graph">
          <chart :series="<%= campaign_graph_data(@campaign_stat).to_json %>"
                 :start-date="<%= start_date(@campaign_stat).to_json %>"
                 :end-date="<%= end_date(@campaign_stat).to_json %>"
                 group-by="<%= @date_group_by.to_s %>">
          </chart>
        </div>
      </div>
    </div>
  </div>
  <filters-container class="campaign-details__filters-container campaign-details__filters-container--mobile"
                     :locations="<%= @locations.to_json %>"
                     :brands="<%= @brands.to_json %>"
                     :channels="<%= @channels.to_json %>"
                     :communes="<%= @communes.to_json %>"
                     :regions="<%= @regions.to_json %>"
                     :genders="<%= gender_types_json %>">
  </filters-container>
</div>
